body {
        font-family: 'Open Sans',
            serif;
        font-weight: 400;
        overflow-x: hidden;
        position: relative;
}

/* Main page  */
.hero{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar-brand
{
  font-family: 'Lobster', sans-serif;
  font-size: 30px!important;
  margin: 0px;
}

