@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;500&display=swap');

body {
        font-family: 'Open Sans', serif;
        font-weight: 400;
        overflow-x: hidden;
        position: relative;
}



/* -------------------Main page-------------------  */
.hero{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
}

.navbar-brand
{
  font-family: 'Lobster', sans-serif;
  font-size: 35px!important;
  margin: 0px;
}

/* -------------------Modal-------------------  */
.modal-header {
  padding: 3rem 5rem;  
}
.modal-title {
    font-family: 'Lobster', serif;
    font-weight: 500;
    text-align: center;    
}
.modal-content {
  background-color: #f2ab69;
  text-align: center;
  border-bottom: transparent;
  max-width: 450px;
}

.modal-header {
  padding: 0.5rem 0.5rem; 
}

.modal-body {
  padding: 0.5em;
}

.modal-header .btn-close {
  padding: 0.5rem 1rem;
  margin: -.5rem -.5rem -.5rem auto;
}

.play,
.submit,
.reset,
.help {
  font-family: 'Open Sans', serif;
  font-size: 1em;
}

.modal-footer {
  justify-content: center;
}

/*class to hide or show sections and elements*/
.hide {
  display: none;
}

/* -------------------Game-------------------  */


.game {  
  background: #f2ab69;
  width: 90%;
  max-width: 600px;
  margin: 200px auto;
  border-radius: 10px;
  padding: 60px;
}

.game h1 {
  font-size: 25px;
  color: black;
  font-weight: 600;
  border-bottom: 1px solid black;
  padding-bottom: 30px;

}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.options {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222 ;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.options:hover {
  background: #222;
  color: #fff;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}





